<section>
  <div class="container crisis">
    <div class="row">

      <div class="col col-lg-2 sidebar">
        <h4>All Meeting rooms</h4>
        <p>Mental Health room</p>
        <p>Anxiety room</p>
        <p>Covid 19 room</p>
        <p>Depression room</p>
      </div>

      <div class="col col-lg-1 "></div>

      <div class="col col-lg-7" >
        <div class="list">
          <div class="item col-lg-12">
            <div class="name">
              <p>Mental Health room</p>
            </div>
            <div class="appBtn"> <a href="cal_appointment.html">Connect <br>with us</a></div>
          </div>

          <div class="item  col-lg-12">
            <div class="name">
              <p>Anxiety room</p>
            </div>
            <div class="appBtn">  <a href="cal_appointment.html">Connect <br>with us</a></div>
          </div>

          <div class="item  col-lg-12">
            <div class="name">
              <p>Covid 19 room</p>
            </div>
            <div class="appBtn">  <a href="cal_appointment.html">Connect <br>with us</a></div>
          </div>

          <div class="item  col-lg-12">
            <div class="name">
              <p>Depression room</p>
            </div>
            <div class="appBtn"> <a href="cal_appointment.html">Connect <br>with us</a></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
