<app-mainmenu></app-mainmenu>
<section>
    <div class="container team crisis">
        <div class="row"> 
          <div class="col col-lg-4 sidebar">
            <h4>All Meeting rooms</h4>
            <p>Mental Health rooms</p>
            <p>Anxiety rooms</p>
            <p>Covid 19 rooms</p>
            <p>Depression room</p>
          </div>
          <div class="col col-lg-1 "></div>
         
          <div class="col col-lg-7" >
          
            <div class="list">
                <div class="item col-lg-12">
                  
                    <div class="name">  
                        <p>Mental Health rooms</p>
                        
                    </div>
                    <div class="appBtn"> <a href="cal_appointment.html">Connect with us</a></div>
                </div>
                <div class="item  col-lg-12">
                   
                   
                    <div class="name">  
                        <p>Anxiety rooms</p>
                        
                    </div>
                    <div class="appBtn">  <a href="cal_appointment.html">Connect with us</a></div>
                </div>
                <div class="item  col-lg-12">
                    
                    <div class="name">  
                        <p>Covid 19 rooms</p>
                        
                    </div>
                    <div class="appBtn">  <a href="cal_appointment.html">Connect with us</a></div>
                </div>
                <div class="item  col-lg-12">
                  
                    
                    <div class="name">  
                        <p>Depression room</p>
                        
                    </div>
                    <div class="appBtn"> <a href="cal_appointment.html">Connect with us</a></div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
      </section>
