a, a:hover{
  color: white;
  text-decoration: none;
}

.team{
    margin-top: 40px;
    font-family: 'Montserrat','Roboto Slab';
}

.team h4{
    font-size: 1.5em;
    margin-top: 2em;
}

.team p{
    font-size: 1em;
    line-height: 1.25;
    margin-top: 1em;
    margin-bottom: 1em;
}

.filter{
  background: #FC8370;
  padding: 10px 35px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50px;
  line-height: 22px;
  border: none;
  letter-spacing: -0.02em;
  /* float: right; */
  margin: 2em 1em;
  position: absolute;
  right: 0;
  font-weight: bold;
}

.filter img{
  margin-left: 15px;
}

.list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 100px;
    margin-top: 100px;
}

/*
.list p{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}*/

.item{
  background-color: #CDDECD;
  border-radius: 20px;
  /* max-width: 480px;
  max-height: 280px;*/
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  display: grid;
  padding: 20px 20px;
  grid-template-columns: 1fr 0fr;
  grid-column-gap: 20px;
  grid-row-gap: 80px;
}

.photo {
  position: relative;
}

.photoCircle{
    width: 140px;
    height: 140px;
    background-color: #FC8370;
    border-radius: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -85px;
    left: -45px;
}

.photoCircle img{
  width: 140px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.rate{
  position: relative;
}

.rate p{
  position: absolute;
  right: 0;
  margin-top: 0em;
  font-weight: bolder;
}

.rate img{
  margin: 2px;
  padding-bottom: 5px;
}

.name p {
  font-weight: 500;
  font-size: 20px;
  margin-top: -10px;
  margin-bottom: 0.3em;
}

.name h6 {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
}


/* .filter {
  background: white;
  border-width: 5em;
  border-color: #FC8370;
} */
/*
.name :nth-child(2){
  font-size: 24px;
  line-height: 29px;
}*/

.appBtn{
    width: 190px;
    height: 50px;
    /*font-family: 'Inter';*/
    /* font-style: normal; */
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    /* letter-spacing: -0.02em; */
    /* font-feature-settings: 'calt' off; */
    color: #FFFFFF;
    background: #FC8370;
    /* flex: none; */
    /* order: 0; */
    /* flex-grow: 0; */
    border-radius: 24px;
    padding: 5px;
}


@media only screen and (max-width: 1230px) {
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team h4,.team p{
    font-size: 26px;
    line-height: 26px;
  }

}


@media only screen and (max-width: 990px) {
  .team .row {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  /* .sidebar{
      width: 24%;
  }
  .empty{
      width: 0;
  } */

  .sidebar{
    margin-top: 60px;
    padding-top: 0;
  }
}

@media only screen and (max-width: 475px) {
  .item p, .name :nth-child(2), .appBtn, .team h4,.team p{
      font-size: 20px;
      line-height: 18px;
    }
  .item{
    grid-template-columns: 1fr;
    grid-row-gap: 0px;
  }
  .rate, .name{
    margin-left: 60px;
  }
  .rate p {
    position: unset;
  }
  .appBtn{
    width: max-content;
    height: initial;
  }
  .photoShape{
    width: 50px;
    height: 50px;
  }
  .photoCircle{
    width: 100px;
    height: 100px;
  }
}
