<section>
    <div class="container team">
        <div class="row">
          <div class="col col-lg-2 sidebar">
            <h4>All Especialities</h4>
            <p>Therapy</p>
            <p>Another one</p>
            <p>Another one</p>
          </div>
          <div class="col col-lg-1 "></div>
         
          <div class="col col-lg-9" style="position: relative;">
            <button class="filter" >Filter the options   <img src="assets/icons/sliders.svg" alt="..." /></button>
            <div class="list">
                <div class="item col-lg-12">
                    <div class="photo"> 
                        <div  class="photoShape"></div>
                        <div class="photoCircle"> 
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="rate"> 
                        <p>Rate      <img src="assets/icons/star.svg" alt="..." />      4.9</p> 
                    </div>
                    <div class="name">  
                        <p>dr. John Doe</p>
                        <p>Therapist</p> 
                    </div>
                    <div class="appBtn"> <a href="cal_appointment.html">Make an appointment</a></div>
                </div>
                <div class="item  col-lg-12">
                    <div class="photo"> 
                        <div  class="photoShape"></div>
                        <div class="photoCircle"> 
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="rate"> 
                        <p>Rate      <img src="assets/icons/star.svg" alt="..." />    4.9</p> 
                    </div>
                    <div class="name">  
                        <p>dr. John Doe</p>
                        <p>Therapist</p> 
                    </div>
                    <div class="appBtn">  <a href="cal_appointment.html">Make an appointment</a></div>
                </div>
                <div class="item  col-lg-12">
                    <div class="photo"> 
                        <div  class="photoShape"></div>
                        <div class="photoCircle"> 
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="rate"> 
                        <p>Rate      <img src="assets/icons/star.svg" alt="..." />   4.9</p> 
                    </div>
                    <div class="name">  
                        <p>dr. John Doe</p>
                        <p>Therapist</p> 
                    </div>
                    <div class="appBtn">  <a href="cal_appointment.html">Make an appointment</a></div>
                </div>
                <div class="item  col-lg-12">
                    <div class="photo"> 
                        <div  class="photoShape"></div>
                        <div class="photoCircle"> 
                            <p>Photo</p>
                        </div>
                    </div>
                    <div class="rate"> 
                        <p>Rate      <img src="assets/icons/star.svg" alt="..." />    4.9</p> 
                    </div>
                    <div class="name">  
                        <p>dr. John Doe</p>
                        <p>Therapist</p> 
                    </div>
                    <div class="appBtn"> <a href="cal_appointment.html">Make an appointment</a></div>
                </div>
            </div>
          </div>
          
        </div>
      </div>
      </section>