<section *ngIf="!isedit">
    <div class="container login-container">
        <div class="row">
            <!-- <div class="col-md-6 login-form-1">
                <h3>Login As CLIENT</h3>
               
            </div> -->
            <div class="col-md-6 mx-auto profeesionalDashboard" *ngFor="let users of filteredUser">
                <!-- <div class="login-logo">
                    <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                </div> -->
                <p>User Details - Professional</p>
                <p *ngIf="users?.username">User Name : {{users?.username}}</p>
                <p *ngIf="users?.password">Password : {{users?.password}}</p>
                <p *ngIf="users?.email">Email : {{users?.email}}</p>
                <p *ngIf="users?.city">City : {{users?.city}}</p>
                <p *ngIf="users?.Price">Price : {{users?.Price}}</p>
                <p *ngIf="users?.speciality">speciality : {{users?.speciality}}</p>
                <button class="btn btn-dark" (click)="delete()">Remove Account</button> &nbsp;
                <button class="btn btn-success" (click)="update()"> Update Account</button>

            </div>
        </div>
    </div>
</section>
<section *ngIf="isedit">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-6 offset-6 profeesionalDashboard mx-auto" *ngFor="let users of filteredUser">
                <p>User Details - Professional</p>
                <form (ngSubmit)="updateProfile(newProfessionalUser)">
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.email" name="email" type="text" class="form-control" placeholder="Your Email *" value="" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.username" name="username" type="text" class="form-control" placeholder="Your Username *" value="" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.password" name="password" type="password" class="form-control" placeholder="Your Password *" value="" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.city" name="city" type="text" class="form-control" placeholder="Your city *" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.Price" name="Price" type="text" class="form-control" placeholder="Price *" required />
                    </div>
                    <div class="form-group">
                        <input [(ngModel)]="newProfessionalUser.speciality" name="speciality" type="text" class="form-control" placeholder="speciality *" required />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btnSubmit mx-auto d-block" value="Update" />
                    </div>


                </form>
            </div>
        </div>
    </div>

</section>
