.row {
  max-height: 500px;
}

.about-heading {
    margin: 0.5em 0.5em 1.5em;
}

.about-heading strong{
  color:#FC8370;
}

.abouttext {
    background: #fc8370ba;
    border-radius: 16px;
    font-family: 'Montserrat','Roboto Slab';
    margin: 0.5em 0.5em 1em 1em;
}

.aboutfisrtpart{
    padding: 2em 2em 1.5em 2em;
}

.abouttitle{
    padding: 0em 2em 0em 2em;
}

.aboutteam{
    padding: 0em 0em 0em 4em;
    margin: 0em;
}

.aboutprofessor{
    padding: 2em 2em 0.5em 2em;
    margin: 0em;
}

.aboutdate{
    padding: 0em 3em 2em 0em;
    text-align: right;
}

.aboutdate{
  padding: 0em 3em 2em 0em;
  text-align: right;
}
