<section>
  <div class="top-spacing">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="about-heading"> You are not alone, we are here <br><strong style="color:#FC8370;">WITH YOU</strong>.</h2>
          <div class="abouttext">
            <p class ="aboutfisrtpart">
              This website was created as a capstone project for the Conestoga College program Web Design and Development.
            </p>
            <h6 class ="abouttitle">Project team:</h6>
            <p class ="aboutteam">Ashwin</p>
            <p class ="aboutteam">Fernanda</p>
            <p class ="aboutteam">Khushboo</p>
            <p class ="aboutteam">Olivine</p>

            <p class ="aboutprofessor">Professor: Jay Muncaster</p>
            <p class ="aboutdate">Kitchener, 2022</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="about-video"><video id="about-video" src="assets/images/about-video.mp4" width="450" autoplay loop muted></video></div>
        </div>
      </div>
    </div>
  </div>
</section>