<section>
    <div class="container">
        <div class="row">
          <div class="col-md-8">
            <br><br><br><br>
            <h2 class="about-heading"> You are not alone, We are here <br><strong style="color:#FC8370;">WITH YOU</strong>.</h2>
           <p class="about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto suscipit harum consequuntur inventore minima qui accusamus, nostrum maxime, incidunt molestias, repudiandae veniam et fuga perspiciatis facilis. Nihil suscipit voluptas numquam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quaerat harum, ex consequatur libero distinctio ratione culpa cupiditate vitae laudantium quia, repudiandae velit quasi repellendus repellat optio? Fugiat, dolor recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            Magnam maiores praesentium impedit soluta excepturi molestias qui commodi non a similique. At consequuntur nostrum ad impedit soluta, unde aliquid quas. In! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum obcaecati eaque ipsa labore officia ad quia nisi veniam delectus consequuntur, dicta necessitatibus, vel quos neque id, nostrum ipsum illum maxime.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto suscipit harum consequuntur inventore minima qui accusamus, nostrum maxime, incidunt molestias, repudiandae veniam et fuga perspiciatis facilis. Nihil suscipit voluptas numquam. 
        </p>
        <br><br>
          </div>
          <div class="col-md-4">
            <div class="about-video"><video id="about-video" src="assets/images/about-video.mp4" width="450" autoplay loop muted></video></div>
          </div>
          </div>
          </div>
          
    </section>